@model DAIF2020.Models.SettingModels.GameStatus

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>GameStatus</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GameStatusName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GameStatusName)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-sm btn-success" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a class="btn btn-sm btn-success" asp-action="ListGameStatuses">Back to game statuses</a>
</div>
