
@{
    ViewData["Title"] = "CleverServiceIX";
}
    <div class="border-bottom">
        <h1>CS IX</h1>
    </div>
<div class="badge badge-success border-left border-right border-top border-success text-left text-black-50">
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="PZGames" asp-action="Index">PZ Games</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="PZGameReceipts" asp-action="Index">PZ Games Receipts</a>
        </li>       
    </ul>
</div>

<div class="badge badge-success border-left border-right border-top border-success text-left text-black-50">
    <ul class="navbar-nav flex-grow-1">             
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="RefFees" asp-action="ListRefFees">Referee Fees</a>
        </li>
    </ul>

</div>