
@{
    ViewData["Title"] = "Clubs";
}

<h1>Clubs</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Clubs" asp-action="Index">Add, Edit, List, Clubs</a>
    </li>
</ul>
