
@{
    ViewData["Title"] = "Districts";
}

<h1>Districts</h1>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Districts" asp-action="ListDistricts">Districts</a>
    </li>
</ul>