
@{
    ViewData["Title"] = "Economics";
}

<h1>Economics</h1>

<h1>Receipts</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Receipts" asp-action="ListReceipts">Receipts (Created)</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Receipts" asp-action="ListReceiptsDueToPay">Receipts (DueToPay)</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Receipts" asp-action="ListReceiptsDueToPayAIK">Receipts (DueToPay - AIK)</a>
    </li>
</ul>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Receipts" asp-action="ListReceiptsDueToPayHAHC">Receipts (DueToPay - Haninge Anchors HC)</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Receipts" asp-action="ListReceiptsPaid">Receipts (Paid)</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Receipts" asp-action="ListReceiptsArchived">Receipts (Archived)</a>
    </li>
</ul>
<h1>Poolgame Receipts</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="PoolGameReceipts" asp-action="ListPoolGameReceipts">Poolgamereceipts</a>
    </li>
</ul>

<h1>Zonegame Receipts</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="ZoneGameReceipts" asp-action="ListZoneGameReceipts">Zonegamereceipts</a>
    </li>
</ul>
<h1>Cupgame Receipts</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Receipts" asp-action="ListCupGameReceipts">Receipts (Cup Game)</a>
    </li>
</ul>
<h1>Weekly Receipts</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="WeeklyReceipts" asp-action="ListWeeklyReceipts">Receipts (Weekly Receipts)</a>
    </li>
</ul>

<h1>Veteran Receipts</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Receipts" asp-action="ListVetsGameReceipts">Receipts (Veteran Receipts)</a>
    </li>
</ul>