
@{
    ViewData["Title"] = "Economics";
}

<h1>Economics</h1>

<h1>Receipts</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Receipts" asp-action="ListReceipts">Receipts</a>
    </li>
</ul>