
@{
    ViewData["Title"] = "Games";
}

<h1>Games</h1>


<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Games" asp-action="ListGames">Games</a>
    </li>
</ul>