
@{
    ViewData["Title"] = "Games";
}

<h1>Games</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Games" asp-action="ListGames">Games (Scheduled)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Games" asp-action="ListGamesFinal">Games (Final)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Games" asp-action="ListGamesArchived">Games (Archived)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Games" asp-action="ListGamesPZ">Games (PZ games)</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Games" asp-action="ListCupGames">Games (Cup games)</a>
    </li>
</ul>

<h1>Zone Games</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="ZoneGames" asp-action="ListZoneGames">Zone Games</a>
    </li>
</ul>
<h1>Pool Games</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="PoolGames" asp-action="ListPoolGames">Pool Games</a>
    </li>
</ul>
<h1>Tournaments</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Tornaments" asp-action="ListTournaments">Tournaments</a>
    </li>
</ul>
<h1>Games per season</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Game20192020" asp-action="Index">Games 2019/2020</a>
    </li>
</ul>


<h1>Hockey4Life</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Hockey4Life">Hockey4Life</a>
    </li>
</ul>