
@{
    ViewData["Title"] = "Hockey4Life";
}

<h1>Hockey4Life</h1>

<h1>Archived Games</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="ArchivedGames" asp-action="ListArchivedGames">Archived games</a>
    </li>
</ul>

<h1>Hockey4Life logs</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Hockey4LifeLog" asp-action="ListHockey4LifeLogs">Hockey4Life Logs ( ALL )</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Hockey4LifeLog" asp-action="ListHockey4LifeLogs2012">Hockey4Life Logs ( 2012 )</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Hockey4LifeLog" asp-action="ListHockey4LifeLogs2013">Hockey4Life Logs ( 2013 )</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Hockey4LifeLog" asp-action="ListHockey4LifeLogs2014">Hockey4Life Logs ( 2014 )</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Hockey4LifeLog" asp-action="ListHockey4LifeLogs2015">Hockey4Life Logs ( 2015 )</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Hockey4LifeLog" asp-action="ListHockey4LifeLogs2016">Hockey4Life Logs ( 2016 )</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Hockey4LifeLog" asp-action="ListHockey4LifeLogs2017">Hockey4Life Logs ( 2017 )</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Hockey4LifeLog" asp-action="ListHockey4LifeLogs2018">Hockey4Life Logs ( 2018 )</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Hockey4LifeLog" asp-action="ListHockey4LifeLogs2019">Hockey4Life Logs ( 2019 )</a>
    </li>
</ul>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Hockey4LifeLog" asp-action="ListHockey4LifeLogs2020">Hockey4Life Logs ( 2020 )</a>
    </li>
</ul>


