
@{
    ViewData["Title"] = "Hockey4Life";
}

<h1>Hockey4Life</h1>

<h1>Archived Games</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="ArchivedGames" asp-action="ListArchivedGames">Archived games</a>
    </li>
</ul>

<h1>Hockey4Life logs</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Hockey4LifeLog" asp-action="ListHockey4LifeLogs">Hockey4Life Logs</a>
    </li>
</ul>

