@{
    ViewData["Title"] = "Home Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome to DAIF2020</h1>
    <p>DAIF2020 the APP saves the Zebra CO "THE DAIF"</p>
</div>
<div class="text-center">

    <a><img src="~/img/TMP2019.jpg" /></a>

</div>

<div class="text-center align-content-center">
    <h3>Work notes !</h3>
<textarea id="MyWorkNotes" rows="20" cols="100">My Work notes !</textarea>
</div>
