
@{
    ViewData["Title"] = "Locations";
}

<h1>Locations</h1>

<h2>Arenas</h2>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Arenas" asp-action="ListArenas">Arenas</a>
    </li>
</ul>

<h2>Clubs</h2>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Clubs" asp-action="ListClubs">Clubs</a>
    </li>
</ul>

<h2>Districts</h2>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Districts" asp-action="ListDistricts">Districts</a>
    </li>
</ul>

<h2>Zones</h2>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Zones" asp-action="ListZones">Zones</a>
    </li>
</ul>