
@{
    ViewData["Title"] = "Planner";
}

<h1>Planner</h1>

<h3>Activities - Scheduled</h3>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Activities" asp-action="ListActivities">Activities - Scheduled</a>
    </li>
</ul>
<h3>Activities - Done</h3>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Activities" asp-action="ListActivitiesDone">Activities - Done</a>
    </li>
</ul>

<h3>Activities for Per Orest</h3>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Activities" asp-action="ListActivitiesPO">Activities for Per Orest</a>
    </li>
</ul>

<h3>Meetings</h3>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Meetings" asp-action="Index">Meetings</a>
    </li>
</ul>