
@{
    ViewData["Title"] = "Settings";
}

<h1>Settings</h1>

<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="ArenaStatus" asp-action="Index">Add, Edit, List, Arena status</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="ClubStatus" asp-action="Index">Add, Edit, List, Club status</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="PersonRoles" asp-action="Index">Add, Edit, List, Person roles</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="PersonStatus" asp-action="Index">Add, Edit, List, Person status</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="PersonTypes" asp-action="Index">Add, Edit, List, Person types</a>
    </li>
</ul>
