
@{
    ViewData["Title"] = "SRHLStats2020";
}

<h1>SRHL Stats 2020</h1>

<h1>Matches</h1>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Matches" asp-action="ListMatches">Matches (ALL)</a>
    </li>    
</ul>

