
@{
    ViewData["Title"] = "TSM";
}

<h1>TSM - Tools</h1>
<h3>TSMGames</h3>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="TSMGames" asp-action="ListTSMGames">TSMGames</a>
    </li>
</ul>
<h3>TSMGame Settings</h3>
<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="TSMGameStatus" asp-action="Index">TSMGame statuses</a>
    </li>
</ul>
