@model DAIF2020.Models.DataModels.PoolGame

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>PoolGame</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PoolGameDateTime" class="control-label"></label>
                <input asp-for="PoolGameDateTime" class="form-control" />
                <span asp-validation-for="PoolGameDateTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PoolGameName" class="control-label"></label>
                <input asp-for="PoolGameName" class="form-control" />
                <span asp-validation-for="PoolGameName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ArenaId" class="control-label"></label>
                <select asp-for="ArenaId" class ="form-control" asp-items="ViewBag.ArenaId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ClubId" class="control-label"></label>
                <select asp-for="ClubId" class ="form-control" asp-items="ViewBag.ClubId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ZoneGameId" class="control-label"></label>
                <select asp-for="ZoneGameId" class ="form-control" asp-items="ViewBag.ZoneGameId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ZoneGameId1" class="control-label"></label>
                <select asp-for="ZoneGameId1" class ="form-control" asp-items="ViewBag.ZoneGameId1"></select>
            </div>
            <div class="form-group">
                <label asp-for="ZoneGameId2" class="control-label"></label>
                <select asp-for="ZoneGameId2" class ="form-control" asp-items="ViewBag.ZoneGameId2"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-sm btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-sm btn-success" asp-action="ListPoolGames">Back to Pool Games</a>
</div>

